.dialog {
  background: white;
  border-radius: 10%;
  max-width: 30vh;
  margin: 5px;
  padding: 3px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dialog a.activeLink {
  color: blue;
}
.ava {
  width: 40px;
  height: 40px;
}
