.nav {
  grid-area: n;
  background-color: #c2c2c2;
  padding: 6%;
  min-width: 80px;
}

.item {
  padding: 2px;
}

.item a.activeLink {
  color: blue;
}
.avatar {
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
}
