.avatar {
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.friendName {
  text-align: center;
}
.friend {
  display: inline;
  float: left;
  padding: 2%;
}
