.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 11fr;
  grid-column-gap: 5px;
}
.app-wrapper-content {
  grid-area: c;
  padding: 10px;
  background-color: #d3d3d3;
  color: black;
  border-radius: 10px;
}
a {
  color: black;
  text-decoration: none; /* cancel underline */
}
@media screen and (max-width: 540px) {
  .app-wrapper {
    margin: 0 auto;
    display: grid;
    overflow-y: scroll;
    height: 92vh;
    grid-template-areas:
      "h h"
      "c c"
      "n n";
    grid-template-rows: 50px 1fr 40px;
  }
}
