.app-wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 11fr;
}
.app-wrapper-content {
  grid-area: c;
  background-color: #f5f0e1;
  color: black;
}
a {
  color: black;
  text-decoration: none; /* cancel underline */
}
